<div  class="container-fliud form-bg">
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form class="form-signin" [formGroup]="loginForm">
            <div class="form-label-group">
              <input formControlName="email" type="email" id="inputEmail" class="form-control"
                placeholder="Email address" required autofocus>
              <label for="inputEmail">Email address</label>
            </div>

            <div class="form-label-group">
              <input formControlName="password" type="password" id="inputPassword" class="form-control"
                placeholder="Password" required>
              <label for="inputPassword">Password</label>
            </div>


            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="login()">Sign
              in</button>
            <hr class="my-4">
            <!-- <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
                class="fab fa-google mr-2"></i> Sign in with Google</button> -->
            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i
                class="fab fa-facebook-f mr-2"></i> <a href="https://book-listing.herokuapp.com/auth/facebook" target="_blank">Sign
                in with Facebook</a></button>
            <div class="login-already text-center mt-4 text-secondary">
              Don't have an account? <a class="text-primary" (click)="moverToRegister()">Register</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>